.red{
  color:#e44;
}


::selection{
  background-color: #aaa;
  color:#fff;
}
::-moz-selection{
  background-color: #aaa;
  color:#fff;
}
.clearfix:before, .clearfix:after {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}
@font-face{
  font-family:'Glyphicons Halflings';
  src:url(../fonts/glyphicons-halflings-regular.eot);
  src:url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(../fonts/glyphicons-halflings-regular.woff) format('woff'),url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}
.glyphicon{
  position:relative;
  top:1px;
  display:inline-block;
  font-family:'Glyphicons Halflings';
  font-style:normal;
  font-weight:400;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}
.glyphicon-asterisk:before{
  content:"\2a"
}
.glyphicon-plus:before{
  content:"\2b"
}
.glyphicon-euro:before,.glyphicon-eur:before{
  content:"\20ac"
}
.glyphicon-minus:before{
  content:"\2212"
}
.glyphicon-cloud:before{
  content:"\2601"
}
.glyphicon-envelope:before{
  content:"\2709"
}
.glyphicon-pencil:before{
  content:"\270f"
}
.glyphicon-glass:before{
  content:"\e001"
}
.glyphicon-music:before{
  content:"\e002"
}
.glyphicon-search:before{
  content:"\e003"
}
.glyphicon-heart:before{
  content:"\e005"
}
.glyphicon-star:before{
  content:"\e006"
}
.glyphicon-star-empty:before{
  content:"\e007"
}
.glyphicon-user:before{
  content:"\e008"
}
.glyphicon-film:before{
  content:"\e009"
}
.glyphicon-th-large:before{
  content:"\e010"
}
.glyphicon-th:before{
  content:"\e011"
}
.glyphicon-th-list:before{
  content:"\e012"
}
.glyphicon-ok:before{
  content:"\e013"
}
.glyphicon-remove:before{
  content:"\e014"
}
.glyphicon-zoom-in:before{
  content:"\e015"
}
.glyphicon-zoom-out:before{
  content:"\e016"
}
.glyphicon-off:before{
  content:"\e017"
}
.glyphicon-signal:before{
  content:"\e018"
}
.glyphicon-cog:before{
  content:"\e019"
}
.glyphicon-trash:before{
  content:"\e020"
}
.glyphicon-home:before{
  content:"\e021"
}
.glyphicon-file:before{
  content:"\e022"
}
.glyphicon-time:before{
  content:"\e023"
}
.glyphicon-road:before{
  content:"\e024"
}
.glyphicon-download-alt:before{
  content:"\e025"
}
.glyphicon-download:before{
  content:"\e026"
}
.glyphicon-upload:before{
  content:"\e027"
}
.glyphicon-inbox:before{
  content:"\e028"
}
.glyphicon-play-circle:before{
  content:"\e029"
}
.glyphicon-repeat:before{
  content:"\e030"
}
.glyphicon-refresh:before{
  content:"\e031"
}
.glyphicon-list-alt:before{
  content:"\e032"
}
.glyphicon-lock:before{
  content:"\e033"
}
.glyphicon-flag:before{
  content:"\e034"
}
.glyphicon-headphones:before{
  content:"\e035"
}
.glyphicon-volume-off:before{
  content:"\e036"
}
.glyphicon-volume-down:before{
  content:"\e037"
}
.glyphicon-volume-up:before{
  content:"\e038"
}
.glyphicon-qrcode:before{
  content:"\e039"
}
.glyphicon-barcode:before{
  content:"\e040"
}
.glyphicon-tag:before{
  content:"\e041"
}
.glyphicon-tags:before{
  content:"\e042"
}
.glyphicon-book:before{
  content:"\e043"
}
.glyphicon-bookmark:before{
  content:"\e044"
}
.glyphicon-print:before{
  content:"\e045"
}
.glyphicon-camera:before{
  content:"\e046"
}
.glyphicon-font:before{
  content:"\e047"
}
.glyphicon-bold:before{
  content:"\e048"
}
.glyphicon-italic:before{
  content:"\e049"
}
.glyphicon-text-height:before{
  content:"\e050"
}
.glyphicon-text-width:before{
  content:"\e051"
}
.glyphicon-align-left:before{
  content:"\e052"
}
.glyphicon-align-center:before{
  content:"\e053"
}
.glyphicon-align-right:before{
  content:"\e054"
}
.glyphicon-align-justify:before{
  content:"\e055"
}
.glyphicon-list:before{
  content:"\e056"
}
.glyphicon-indent-left:before{
  content:"\e057"
}
.glyphicon-indent-right:before{
  content:"\e058"
}
.glyphicon-facetime-video:before{
  content:"\e059"
}
.glyphicon-picture:before{
  content:"\e060"
}
.glyphicon-map-marker:before{
  content:"\e062"
}
.glyphicon-adjust:before{
  content:"\e063"
}
.glyphicon-tint:before{
  content:"\e064"
}
.glyphicon-edit:before{
  content:"\e065"
}
.glyphicon-share:before{
  content:"\e066"
}
.glyphicon-check:before{
  content:"\e067"
}
.glyphicon-move:before{
  content:"\e068"
}
.glyphicon-step-backward:before{
  content:"\e069"
}
.glyphicon-fast-backward:before{
  content:"\e070"
}
.glyphicon-backward:before{
  content:"\e071"
}
.glyphicon-play:before{
  content:"\e072"
}
.glyphicon-pause:before{
  content:"\e073"
}
.glyphicon-stop:before{
  content:"\e074"
}
.glyphicon-forward:before{
  content:"\e075"
}
.glyphicon-fast-forward:before{
  content:"\e076"
}
.glyphicon-step-forward:before{
  content:"\e077"
}
.glyphicon-eject:before{
  content:"\e078"
}
.glyphicon-chevron-left:before{
  content:"\e079"
}
.glyphicon-chevron-right:before{
  content:"\e080"
}
.glyphicon-plus-sign:before{
  content:"\e081"
}
.glyphicon-minus-sign:before{
  content:"\e082"
}
.glyphicon-remove-sign:before{
  content:"\e083"
}
.glyphicon-ok-sign:before{
  content:"\e084"
}
.glyphicon-question-sign:before{
  content:"\e085"
}
.glyphicon-info-sign:before{
  content:"\e086"
}
.glyphicon-screenshot:before{
  content:"\e087"
}
.glyphicon-remove-circle:before{
  content:"\e088"
}
.glyphicon-ok-circle:before{
  content:"\e089"
}
.glyphicon-ban-circle:before{
  content:"\e090"
}
.glyphicon-arrow-left:before{
  content:"\e091"
}
.glyphicon-arrow-right:before{
  content:"\e092"
}
.glyphicon-arrow-up:before{
  content:"\e093"
}
.glyphicon-arrow-down:before{
  content:"\e094"
}
.glyphicon-share-alt:before{
  content:"\e095"
}
.glyphicon-resize-full:before{
  content:"\e096"
}
.glyphicon-resize-small:before{
  content:"\e097"
}
.glyphicon-exclamation-sign:before{
  content:"\e101"
}
.glyphicon-gift:before{
  content:"\e102"
}
.glyphicon-leaf:before{
  content:"\e103"
}
.glyphicon-fire:before{
  content:"\e104"
}
.glyphicon-eye-open:before{
  content:"\e105"
}
.glyphicon-eye-close:before{
  content:"\e106"
}
.glyphicon-warning-sign:before{
  content:"\e107"
}
.glyphicon-plane:before{
  content:"\e108"
}
.glyphicon-calendar:before{
  content:"\e109"
}
.glyphicon-random:before{
  content:"\e110"
}
.glyphicon-comment:before{
  content:"\e111"
}
.glyphicon-magnet:before{
  content:"\e112"
}
.glyphicon-chevron-up:before{
  content:"\e113"
}
.glyphicon-chevron-down:before{
  content:"\e114"
}
.glyphicon-retweet:before{
  content:"\e115"
}
.glyphicon-shopping-cart:before{
  content:"\e116"
}
.glyphicon-folder-close:before{
  content:"\e117"
}
.glyphicon-folder-open:before{
  content:"\e118"
}
.glyphicon-resize-vertical:before{
  content:"\e119"
}
.glyphicon-resize-horizontal:before{
  content:"\e120"
}
.glyphicon-hdd:before{
  content:"\e121"
}
.glyphicon-bullhorn:before{
  content:"\e122"
}
.glyphicon-bell:before{
  content:"\e123"
}
.glyphicon-certificate:before{
  content:"\e124"
}
.glyphicon-thumbs-up:before{
  content:"\e125"
}
.glyphicon-thumbs-down:before{
  content:"\e126"
}
.glyphicon-hand-right:before{
  content:"\e127"
}
.glyphicon-hand-left:before{
  content:"\e128"
}
.glyphicon-hand-up:before{
  content:"\e129"
}
.glyphicon-hand-down:before{
  content:"\e130"
}
.glyphicon-circle-arrow-right:before{
  content:"\e131"
}
.glyphicon-circle-arrow-left:before{
  content:"\e132"
}
.glyphicon-circle-arrow-up:before{
  content:"\e133"
}
.glyphicon-circle-arrow-down:before{
  content:"\e134"
}
.glyphicon-globe:before{
  content:"\e135"
}
.glyphicon-wrench:before{
  content:"\e136"
}
.glyphicon-tasks:before{
  content:"\e137"
}
.glyphicon-filter:before{
  content:"\e138"
}
.glyphicon-briefcase:before{
  content:"\e139"
}
.glyphicon-fullscreen:before{
  content:"\e140"
}
.glyphicon-dashboard:before{
  content:"\e141"
}
.glyphicon-paperclip:before{
  content:"\e142"
}
.glyphicon-heart-empty:before{
  content:"\e143"
}
.glyphicon-link:before{
  content:"\e144"
}
.glyphicon-phone:before{
  content:"\e145"
}
.glyphicon-pushpin:before{
  content:"\e146"
}
.glyphicon-usd:before{
  content:"\e148"
}
.glyphicon-gbp:before{
  content:"\e149"
}
.glyphicon-sort:before{
  content:"\e150"
}
.glyphicon-sort-by-alphabet:before{
  content:"\e151"
}
.glyphicon-sort-by-alphabet-alt:before{
  content:"\e152"
}
.glyphicon-sort-by-order:before{
  content:"\e153"
}
.glyphicon-sort-by-order-alt:before{
  content:"\e154"
}
.glyphicon-sort-by-attributes:before{
  content:"\e155"
}
.glyphicon-sort-by-attributes-alt:before{
  content:"\e156"
}
.glyphicon-unchecked:before{
  content:"\e157"
}
.glyphicon-expand:before{
  content:"\e158"
}
.glyphicon-collapse-down:before{
  content:"\e159"
}
.glyphicon-collapse-up:before{
  content:"\e160"
}
.glyphicon-log-in:before{
  content:"\e161"
}
.glyphicon-flash:before{
  content:"\e162"
}
.glyphicon-log-out:before{
  content:"\e163"
}
.glyphicon-new-window:before{
  content:"\e164"
}
.glyphicon-record:before{
  content:"\e165"
}
.glyphicon-save:before{
  content:"\e166"
}
.glyphicon-open:before{
  content:"\e167"
}
.glyphicon-saved:before{
  content:"\e168"
}
.glyphicon-import:before{
  content:"\e169"
}
.glyphicon-export:before{
  content:"\e170"
}
.glyphicon-send:before{
  content:"\e171"
}
.glyphicon-floppy-disk:before{
  content:"\e172"
}
.glyphicon-floppy-saved:before{
  content:"\e173"
}
.glyphicon-floppy-remove:before{
  content:"\e174"
}
.glyphicon-floppy-save:before{
  content:"\e175"
}
.glyphicon-floppy-open:before{
  content:"\e176"
}
.glyphicon-credit-card:before{
  content:"\e177"
}
.glyphicon-transfer:before{
  content:"\e178"
}
.glyphicon-cutlery:before{
  content:"\e179"
}
.glyphicon-header:before{
  content:"\e180"
}
.glyphicon-compressed:before{
  content:"\e181"
}
.glyphicon-earphone:before{
  content:"\e182"
}
.glyphicon-phone-alt:before{
  content:"\e183"
}
.glyphicon-tower:before{
  content:"\e184"
}
.glyphicon-stats:before{
  content:"\e185"
}
.glyphicon-sd-video:before{
  content:"\e186"
}
.glyphicon-hd-video:before{
  content:"\e187"
}
.glyphicon-subtitles:before{
  content:"\e188"
}
.glyphicon-sound-stereo:before{
  content:"\e189"
}
.glyphicon-sound-dolby:before{
  content:"\e190"
}
.glyphicon-sound-5-1:before{
  content:"\e191"
}
.glyphicon-sound-6-1:before{
  content:"\e192"
}
.glyphicon-sound-7-1:before{
  content:"\e193"
}
.glyphicon-copyright-mark:before{
  content:"\e194"
}
.glyphicon-registration-mark:before{
  content:"\e195"
}
.glyphicon-cloud-download:before{
  content:"\e197"
}
.glyphicon-cloud-upload:before{
  content:"\e198"
}
.glyphicon-tree-conifer:before{
  content:"\e199"
}
.glyphicon-tree-deciduous:before{
  content:"\e200"
}
*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}
:before,:after{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}

body{
  background-color:#fff;
  color:#000;
  width:100%;
  margin:0;
  font-size:20px;
  line-height:inherit!important;
  font-family: microsoft YaHei;
}
a{
  font-size:20px;
}
.bg-white{  background-color:#fff!important;}
.bg-black{  background-color:#000!important;}
.bg-gray{  background-color:#aaa!important;}
.bg-lgray{  background-color:#ddd!important;}
.bg-dark{background-color:#444!important;}
.pointer{cursor:pointer}
.text-white{  color:#fff!important;}
.text-black{  color:#000!important;}
.text-gray{  color:#aaa!important;}
.text-dark{color:#444!important;}
.display-none{display:none!important;}
.display-block{display:block!important;}
.relative{position:relative}
.overflow-hidden{overflow:hidden}
.mb-m{margin-bottom:5px}
.pb-none{padding-bottom:0px!important}
.fill-div{width:100%;height:100px}
#header{
  background-color:#000;
  color:#fff;
  padding:40px;
  text-align:center;
}
#title{
  margin: 0 auto;
  font-size: 80px;
  font-weight: bold;
}
#smallTitle,.small-text{
  font-weight: bold;
  font-size: 23px;
}
.border-btn{
  color: #fff;
  border: 3px solid #fff;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  font-size:20px;
  text-align:center;
}
.border-btn:hover{
  background-color:#333!important;
  box-shadow:0 0 5px 5px rgba(255,255,255,0.3);
}
.border-btn:active{
  background-color:#777!important;
}

#viewProject{
  width: 160px;
  position: absolute;
  top: 60px;
  right: 30px;
}
.part{
  padding:80px 14%;
}
.part.intro{
  padding-top:0!important;
  padding-bottom:0!important;
}

.part-title{
  margin-bottom: 40px;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}
.part-title.hassmall{
  margin-bottom: 10px;
}
.part-title.small{
  font-size: 20px;
  margin-bottom: 40px;
  word-break: break-all;
}
.part-title.smaller{
  font-size: 20px;
  margin-bottom: 20px;
}


#copyBtn{
  width: 170px;
  margin: 20px auto 0 auto;
}
/*function*/

.func-item{
  width: 48%;
  margin: 0 1%;
  float: left;
  background-color: #444;
  color: #fff;
  padding: 20px;
  min-height:368px;
}
.func-item{
  min-height:0px;
  height:auto;
  text-align:center;
  background-color: transparent;
}
.func-img{
  width: 50%;
  margin:0 auto;
  border-radius: 10px;
  font-size: 100px;
  color: #222;
  font-weight: bold;
}
.func-img:hover{
  background-color: #888;
}
.func-text{
  font-weight: bold;
  margin-top: 10px;
  font-size: 28px;
  color:#222;
}
/*end function*/

/*api*/
/*api part*/
#apiPart{
}
#apiBarTitle{
  width: 100%;
  height: 40px;
}
#apiSearchWrapper{
  position: absolute;
  height: 50px;
  width: 280px;
  top: 4px;
  right: 0;
  border: 2px solid #888;
}
.result-close-btn{
  display: block!important;
  color: #fff;
  background: #444;
  position: relative;
  top: -1px!important;
  font-size: 25px;
  cursor: pointer;
}
.result-close-btn:hover{
  background: #222;
}
.result-close-btn>span{
  font-size: 15px;
  position: absolute;
  top: 5px;
  right: 5px;
}
#resultNum{
  font-size:17px;
  font-weight:bold;
  margin-right:5px;
}

#apiSearchInput{
  float:left;
  height: 100%;
  width: 80%;
  font-size: 25px;
  color: #444;
  padding-left:5px;
  outline:none;
  -webkit-appearance:none;
  border:0;
}
#apiSearchBtn{
  display:block;
  float:left;
  height:102%;
  width:20%;
  position: relative;
  background-color:#444;
  color:#fff;
  font-size:30px;
  line-height:45px;
  top: -1px;
  cursor:pointer;
}
#apiSearchBtn:hover{
  background-color:#222;
}
#apiSearchResultWrapper{
  position: absolute;
  width: 280px;
  background: #fff;
  right: -2px;
  border: 2px solid #888;
  top: 48px;
  z-index: 10;
  height: 530px;
}
#apiSearchResultList{
  height: 500px;
  padding: 15px 20px;
  overflow-y:auto;
}
.api-title{
  width: 33.33333%;
  float: left;
  height: 60px;
  font-size: 20px;
  padding: 20px;
  margin-bottom:0;
  text-align: center;    
  position: relative;
  overflow:hidden;
  top: 0px;
  cursor:pointer;
  transition: all 0.3s;
  -moz-transition: all 0.3s;	/* Firefox 4 */
  -webkit-transition: all 0.3s;	/* Safari 和 Chrome */
  -o-transition: all 0.3s;
}
.api-title span{
  margin-right:5px;
}

.api-title:nth-child(odd){
  color:#fff;
}
.api-title:nth-child(even){
  color:#333;
}
.api-title:hover{
  top:-30px;
  padding-top:30px;
  margin-bottom:-30px;
  height: 90px;
}
#apiWindow{
  width:100%;
  overflow:hidden;
  position:relative;
}
#apiDetailWrapper{
  width:100%;
  position:absolute;
  overflow:hidden;
  height:630px;
}
#apiDetail{
  width: 100%;
  height: 100%;
  position: absolute;  
  top:-100%;  
  transition: top 0.5s;
  -webkit-transition: top 0.5s;	/* Safari 和 Chrome */
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
  color:#000;
  padding:20px;
}
#apiDetailTitleWrapper{
  height:180px;
  width:100%;
  border-bottom: 3px dashed #888
}
#apiTitleLeft,#apiTitleRight{
  height:100%;
  float:left;
  overflow-y:auto;
  padding:0 10px;
}
#apiTitleLeft{
  width:30%;
  padding-top:40px;
  border-right: 3px dashed #888;
  position:relative;
}
#apiDetailSwitchWrapper{
  position: absolute;
  top: 5px;
  right: 0px;
  z-index: 15;
}
#apiDetailSwitchWrapper span{
  font-size: 20px;
  margin-right: 10px;
  background-color: #444;
  display: block;
  height: 30px;
  color: #fff;
  width: 40px;
  border-radius: 5px;
  float: left;
  padding-top: 4px;
  text-align: center;
  cursor:pointer;
  position:relative;
  top:0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;	/* Safari 和 Chrome */
  -moz-transition: all 0.3s;	/* Firefox 4 */
  -o-transition: all 0.3s;
}
#apiDetailSwitchWrapper span:hover{
  background-color: #222;
  top:-4px;
}
#apiDetailSwitchWrapper span.disable{
  background-color: #ccc; 
}
#apiDetailSwitchWrapper span.disable:hover{
  background-color: #ddd; 
}
#apiTitleLeft .part-title{
  margin:0!important;
  padding:0!important;
}
#apiTitleRight{
  width:70%;
  padding-top:10px!important;
}
#showCode {
    position: relative;
}
.api-detail-item{
  height: 410px;
  float: left;    
  overflow-x: hidden;
  overflow-y: auto;
  padding:10px 20px;
}
.api-detail-item.result{
  overflow-y: hidden;
}
.api-detail-item.small{
  width: 67%;
}
.api-detail-item.large{
  width: 33%;
}
.api-detail-title{    
  font-size: 25px;
  color: #444;
  margin: 10px 20px 10px 0;
  font-weight:bold;
}
.api-detail-title span{
  margin-right:5px;
  color:#000;
  position:relative;
  top:3px;
}
.api-detail-content{
  font-size: 20px;
  color: #000;
  text-indent: 2em;
  line-height: 30px;
}
.api-detail-item.border{
  border-right: 3px dashed #888;
}
#apiDetail.show{
  top:0;
}
#apiTrangleBar{
  width:100%;
  position:absolute;
  z-index: 5;
}
#apiBar{
  width: 300%;
  height: 500px;
  position:relative;
  left:0%;
  transition: left 0.5s;
  -webkit-transition: left 0.5s;	/* Safari 和 Chrome */
  -moz-transition: left 0.5s;	/* Firefox 4 */
  -o-transition: left 0.5s;
}
.api-item{
  height:100%;
  width:33.33333%;
  float:left;
  padding:25px;
  padding-top:40px;
  overflow-y:auto;
}
.api-item.bg-lgray{
  border:1px solid #444;
}
.api-item.bg-dark{
  border:1px solid #ddd;
}
.api-item span,#apiSearchResultList > span{
  display: block;
  width: 18%;
  height: 80px;
  margin: 1%;
  float: left;
  font-size: 30px;
  text-align: center;
  padding-top: 22px;
  cursor:pointer;
  position:relative;
  word-break: break-word;
  top:0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
#apiSearchResultList>span{
  background-color: #444;
  color: #fff;
  overflow:hidden;
}
.api-item span:hover,#apiSearchResultList > span:hover{
  top:-15px;
}
#apiSearchResultList>span:hover{
  background-color: #222;
}
#apiSearchResultList > span{
  width: 100%;
  margin:10px 0;
}
.search-key{
  color: #f66;
}
.api-item.bg-lgray span{
  background-color: #444;
  color: #fff;
  overflow:hidden;
}
.api-item.bg-lgray span:hover{
  background-color: #222;
}
.api-item.bg-dark span{
  background-color: #ddd;
  color:#777;
}
.api-item.bg-dark span:hover{
  background-color: #fff;
}
#apiCode,#apiCodeView{
  /*width: 340px; height: 210px;*/
  width: 100%;
  background-color: rgba(20,20,20,0.9);
  border-radius: 5px;
  border-color: #000;
  color: #fff;
  font-size: 18px;
  resize: none;
  height: 337px;
  padding: 10px;
  line-height: 22px;
  font-family: Microsoft Yahei;
  overflow: auto;
  position:absolute;
  white-space: pre;
  border:0;
  margin: 0;
  outline:none;
  -webkit-appearance:none;
  word-break: break-all;
  word-wrap: normal;
}
#apiCode{
  background-color: transparent;
  color:rgba(255,255,255,0.5);
  border-color:transparent;
  transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
}
#apiCode.bg{
  background-color: rgba(20,20,20,0.9);
}
#apiCodeView{
  color:#444;
}
._key{
  color:#22b5ff;
}
._attr{
  
}
._sign{
  color:#f0d;
}
._fun,._fun j{
  color:#001dff;
}
._d-fun,._d-fun j{
  color:#b2ff00;
}
._num{
  color:#fff;
}
._tag,._tag ._key{
  color:#ff8d00;
}
._str,._str j{
  color:#f00!important;
}
._note,._note j{
  color:#019d00!important;
}
#cursor{
  display: none;
  width: 2px;
  height: 23px;
  background-color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  animation:cursor 1s infinite;
  -moz-animation:cursor 1s infinite; /* Firefox */
  -webkit-animation:cursor 1s infinite; /* Safari and Chrome */
  -o-animation:cursor 1s infinite; /* Opera */
}
@keyframes cursor {
	0%   {opacity:1;}
  50%  {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes cursor {
	0%   {opacity:1;}
  50%  {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes cursor {
	0%   {opacity:1;}
  50%  {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes cursor {
	0%   {opacity:1;}
  50%  {opacity:0;}
  100% {opacity:1;}
}

#apiBtnWrapper{
  position: absolute;
  width: 100%;
  padding: 0 40px;
  height: auto;
}    
.border-btn.dark{
  color: #444;
  border-color: #444;
}
.border-btn.dark:hover{
  background-color:#ddd!important;
}
#apiBtnWrapper .border-btn{
  height: 35px;
  float: right;
  padding: 2px 5px;
  margin: 5px 0 0 5px;
}
#apiBtnWrapper .border-btn span{
  margin-right:7px;
  font-size: 17px;
}
#apiBtnWrapper .border-btn span.only{
  margin-right:0;
  font-size: 19px;
}
#apiBtnWrapper .border-btn span.show-all{
  top: 3px;
  left: -0.5px;
}
#apiBtnWrapper .border-btn span.hide-all{
  top: 1px;
  left: 1.5px;
}
#resultArea{
  font-size:18px;
}
#resultArea,.result-cover{
  width: 100%;
  height: 340px;
  border: 2px dotted #000;
  border-radius: 10px;
  padding:10px;
  overflow-y:auto;
  word-break: break-word;
}
#resultArea.hide,.result-cover.hide{
  display:none;
}
.result-cover{    
  background-color: rgba(100,100,100,0.8);
  font-size: 30px;
  text-align: center;
  padding-top: 100px;
  color: #fff;
}
.trangle{
	width:0;
	border: 20px solid transparent;
	border-bottom: 25px solid #fff;
  transition: margin-left 0.3s;
  margin-left:14.5%;
  -moz-transition: margin-left 0.3s;	/* Firefox 4 */
  -webkit-transition: margin-left 0.3s;	/* Safari 和 Chrome */
  -o-transition: margin-left 0.3s;
}
.trangle.api{
	border-width:30px;
	border-bottom-width: 0;
	border-top-width: 15px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  z-index:5;
}
.trangle.dark{
  border-top-color:#444;
}
.trangle.lgray{
  border-top-color:#ddd;
}
.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.ripple.r-white{
  background: rgba(255, 255, 255, 0.4);
}
.ripple.r-black{
  background: rgba(0, 0, 0, 0.4);
}
.rippleEffect {
  -webkit-animation: rippleDrop .4s linear;
  animation: rippleDrop .4s linear;
}
 
@-webkit-keyframes 
  rippleDrop {  100% {
   -webkit-transform: scale(2);
   transform: scale(2);
   opacity: 0;
  }
}
@keyframes 
  rippleDrop {  100% {
   -webkit-transform: scale(2);
   transform: scale(2);
   opacity: 0;
  }
}   
/*end api part*/


/*footer*/
#footer{
  text-align:center;
  padding:50px 0 40px 0;
  color: #888;
}
.link{cursor:pointer}
.link:hover{
  text-decoration:underline;
  color:#888;
}

.wechat-public{
  position:relative;
  cursor:pointer
}
.wechat-public:hover{color:#888;}
.wechat-img{
  display:none;
  position: absolute;
  height: 200px;
  top: -210px;
  left: -10px;
}
.split-icon{
  font-size: 20px;
  font-weight: bold;
}
#copyright{
  font-size:12px;
  margin-top:5px;
}
#footerLink{
  font-size:16px;
}
.d-show{
  display:none;
}
.relate-link{
  text-decoration: underline;
  margin: 0 5px;
  font-size: 25px;
  float: left;
  cursor:pointer;
}
.relate-link:hover{
  color:#aaa;
}
/*end footer*/
@media screen and (max-width:1000px) {
  #header{
    padding: 20px;
  }
  #title{
    font-size:30px;
  }
  #smallTitle{
    font-size:15px;
  }
  #viewProject{
    position: relative;
    top: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 10px;
  }
  .func-item{
    padding: 10px;
  }
  .func-img{
    width: 100%;
    font-size: 50px;
  }
  .func-text{
    font-size: 13px;
  }
  
  .api-content-wrapper{
    min-height: 0;
  }
  .part{
    padding:15px;
  }
  .part-title{
    font-size: 25px;
    margin-bottom: 15px;
  }
  .part-title.small{
    font-size: 15px;
    margin-bottom: 10px;
  }
  .border-btn{
    font-size: 10px;
  }
  #copyBtn{
    width: 110px;
  }
  
  
  
  .d-show{
    display:block;
  }
  .d-hide{
    display:none;
  }
  #footer{
    padding:10px 0;
  }
  .wechat-img{
    left: -30px;
  }
  #footerLink{
    font-size:12px;
  }
  .relate-link{
    font-size: 15px;
  }
  
  /*api*/
  
  .trangle{
    border: 10px solid transparent;
    border-bottom: 10px solid #fff;
  }
  .detail-div{
    font-size: 12px;
    padding: 5px;
  }
  #introDetail.open{
    height: 80px;
  }
  #viewApi{
    position: absolute;
    top: 43px;
    margin: 0 auto;
    height: 30px;
    width: 110px;
    padding: 0;
    line-height: 26px;
    right: 10px;
  }
  #apiBar{
  }
  #apiSearchWrapper{
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 35px;
  }
  #apiSearchBtn{
    font-size: 20px;
    line-height: 35px;
  }
  #apiSearchInput{
    font-size: 20px;
  }
  #apiSearchResultWrapper{
    width: 101%;
    top: 32px;
  }
  .trangle.api{
    border-width: 13px;
    border-bottom-width: 0;
    border-top-width: 10px;
  }
  
  
  #apiTitleLeft .part-title{
    font-size: 22px!important;
  }
  #apiTitleLeft .smaller{
    font-size: 15px!important;
  }
  .api-title{
    padding: 15px 0;
    font-size: 15px;
  }
  .api-title span{
    font-size:20px;
  }
  .api-item{    padding: 8px;}
  .api-item span{
    font-size: 15px!important;
    height: 40px;
    width: 48%;
    margin: 1%;
    padding: 0!important;
    line-height: 40px!important;
    white-space: nowrap;
  }
  #apiDetailTitleWrapper{height:auto}
  #apiDetail{    padding: 5px;padding-top:20px}
  #apiDetailSwitchWrapper span{
    height: 20px;
    width: 30px;
    margin-right: 5px;
    font-size: 14px;
    padding: 3px;
  }
  #apiTitleLeft,#apiTitleRight{
    position: relative;
    width: 100%;
    border-right: none;
    padding: 0px!important;
    float:none;
  }
  #apiTitleLeft{height:50px}
  #apiTitleRight{height:90px}
  .api-detail-title{
    font-size:15px;
    line-height:15px;
    margin: 6px 0 8px 0;
  }
  .mb-m{margin:0}
  .api-detail-content{
    font-size:12px;
    line-height:15px;
  }
  .relate-item-text{
    font-size:13px;
    white-space:normal;
  }
  .relate-item-img{
    width: 80%;
    height: auto;
  }
  .api-detail-item{
    float:none!important;
    width:100%!important;
    padding: 5px;
  }
  .api-detail-item.small{
    height: 260px;
  }
  .api-detail-item.large{
    height:200px
  }
  .api-detail-item.border{
    border-bottom:3px dashed #888;
    border-right:none;
  }
  #apiBtnWrapper{
    padding: 0;width: 96%;
  }
  #apiBtnWrapper .border-btn{
    border-radius:5px;
    border-width:1px;
    height:20px;
    padding: 2px 4px;
  }
  #apiBtnWrapper .border-btn span{
    font-size:10px;
    margin:0!important;
  }
  #apiBtnWrapper .border-btn span.only{
    font-size:10px;
  }
  #apiCode,#apiCodeView{
    height: 210px;
    font-size: 10px;
    line-height: 12px;
  }
  #resultArea, .result-cover{
    height: 160px;
  }
  #resultArea{
    font-size:14px;
  }
  .result-cover{
    padding-top: 50px;
    font-size: 20px;
  }
  #apiSearchResultList{
    padding:10px;
  }
  #apiSearchResultList > span{
    width: 48%;
    margin: 1%;
    font-size: 17px!important;
    height: 40px;
    line-height: 40px;
    padding-top: 0!important;
    white-space: nowrap;
  }
  .d-show{
    display:block;
  }
  .d-hide{
    display:none;
  }
}

